In [325]:
import sys, os
sys.path.append(os.path.abspath(os.path.join('..')))

In [326]:
from scripts.dataloader import DataLoader
import pandas as pd

In [327]:
dataloader = DataLoader()
df = dataloader.read_data('../data', 'AdSmartABdata.csv')

In [328]:
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

### Divide the dataset in to control and exposed groups

In [329]:
control_df = df[df["experiment"] == "control"]
exposed_df = df[df["experiment"] == "exposed"]

In [330]:
control_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0
5,0027ce48-d3c6-4935-bb12-dfb5d5627857,control,2020-07-03,15,Samsung SM-G960F,6,Facebook,0,0
6,002e308b-1a07-49d6-8560-0fbcdcd71e4b,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0
7,00393fb9-ca32-40c0-bfcb-1bd83f319820,control,2020-07-09,5,Samsung SM-G973F,6,Facebook,0,0

In [331]:
exposed_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
8,004940f5-c642-417a-8fd2-c8e5d989f358,exposed,2020-07-04,0,Generic Smartphone,6,Chrome Mobile WebView,0,0
13,006b9c6e-5f5d-4385-a811-ff20a24b30ac,exposed,2020-07-06,8,Samsung SM-G973F,6,Chrome Mobile WebView,0,0

### Select all users that reacted to yes/no

In [332]:
yes_users_control = control_df[control_df["yes"]== 1]
yes_users_exposed = exposed_df[exposed_df["yes"]== 1]
no_users_control = control_df[control_df["no"]== 1]
no_users_exposed = exposed_df[exposed_df["no"]== 1]

In [333]:
#Drop yes, and no columns
yes_users_control = yes_users_control.drop(['yes','no'], axis = 1)
yes_users_exposed = yes_users_exposed.drop(['yes','no'], axis = 1)
no_users_control = no_users_control.drop(['yes','no'], axis = 1)
no_users_exposed = no_users_exposed.drop(['yes','no'], axis = 1)
#Add a reaction column
yes_users_control["reaction"] = 1
yes_users_exposed["reaction"] = 1
no_users_control["reaction"] = 0
no_users_exposed["reaction"] = 0

In [334]:
merged_control = pd.concat([yes_users_control, no_users_control])
merged_exposed = pd.concat([yes_users_exposed, no_users_exposed])
merged_df = pd.concat([merged_control, merged_exposed])

In [335]:
yes_users_control.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
23,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1
45,018af862-486e-4da1-a85b-71872120e57c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,1
100,0332a7f7-0336-4d48-96ad-75da00d916c0,control,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1
118,03948b84-b5b1-4f26-81fc-e953218aef1a,control,2020-07-09,20,Samsung SM-G930F,6,Facebook,1
157,04b69bd8-4849-4489-adcf-08b96a265c40,control,2020-07-07,15,Generic Smartphone,6,Chrome Mobile,1

In [336]:
yes_users_exposed.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
16,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1
65,023ec7b5-cb8f-49a5-995f-e0d7c2f702e5,exposed,2020-07-09,13,Samsung SM-G935F,6,Facebook,1
89,02efdb70-8596-4f3f-b0b2-b91e194f61f7,exposed,2020-07-05,6,Generic Smartphone,6,Chrome Mobile,1
128,03ee1780-1fa3-4bec-926c-d543a81a6653,exposed,2020-07-04,11,Samsung SM-G981B,6,Chrome Mobile WebView,1
144,046644f4-b30c-48f9-b069-f804a97b77d9,exposed,2020-07-05,2,Generic Smartphone,6,Chrome Mobile WebView,1

In [337]:
merged_control.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
23,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1
45,018af862-486e-4da1-a85b-71872120e57c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,1
100,0332a7f7-0336-4d48-96ad-75da00d916c0,control,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1
118,03948b84-b5b1-4f26-81fc-e953218aef1a,control,2020-07-09,20,Samsung SM-G930F,6,Facebook,1
157,04b69bd8-4849-4489-adcf-08b96a265c40,control,2020-07-07,15,Generic Smartphone,6,Chrome Mobile,1

In [338]:
no_users_control.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
27,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0
48,01985992-d70b-4258-a3a1-60ac5e17bce6,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0
62,023458f7-122d-475f-9525-1b9a3cc7a033,control,2020-07-03,15,MRD-LX1,6,Facebook,0
99,0332792f-0de9-4902-9d08-06033c3d8371,control,2020-07-06,2,Samsung SM-J600FN,6,Chrome Mobile WebView,0
101,0336ce2b-c5cb-454a-b74f-450232223742,control,2020-07-03,15,Samsung SM-A105FN,6,Samsung Internet,0

In [339]:
merged_exposed.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
16,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1
65,023ec7b5-cb8f-49a5-995f-e0d7c2f702e5,exposed,2020-07-09,13,Samsung SM-G935F,6,Facebook,1
89,02efdb70-8596-4f3f-b0b2-b91e194f61f7,exposed,2020-07-05,6,Generic Smartphone,6,Chrome Mobile,1
128,03ee1780-1fa3-4bec-926c-d543a81a6653,exposed,2020-07-04,11,Samsung SM-G981B,6,Chrome Mobile WebView,1
144,046644f4-b30c-48f9-b069-f804a97b77d9,exposed,2020-07-05,2,Generic Smartphone,6,Chrome Mobile WebView,1

### Shuffle rows

In [340]:
merged_exposed = merged_exposed.sample(frac=1).reset_index(drop=True)
merged_control = merged_control.sample(frac=1).reset_index(drop=True)
merged_df = merged_df.sample(frac=1).reset_index(drop=True)

In [341]:
merged_df.head(10)

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
0,ed32baab-4fd2-4c01-8210-9b00895fb0c8,control,2020-07-03,15,Samsung SM-G965F,6,Chrome Mobile WebView,1
1,0332a7f7-0336-4d48-96ad-75da00d916c0,control,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1
2,b84ee86d-aee1-4f0f-84f7-4820eba84c29,exposed,2020-07-07,1,Samsung SM-N976B,6,Chrome Mobile WebView,1
3,0336ce2b-c5cb-454a-b74f-450232223742,control,2020-07-03,15,Samsung SM-A105FN,6,Samsung Internet,0
4,d6e59a7b-fa44-4b68-aff1-8f3397d3ff1b,exposed,2020-07-04,10,Generic Smartphone,6,Chrome Mobile,0
5,7908cc88-7e67-4274-91ee-bda6469233ae,exposed,2020-07-09,7,Generic Smartphone,6,Chrome Mobile,1
6,dcc2ff5c-3111-42c7-9c89-d68b61601765,control,2020-07-04,20,Generic Smartphone,6,Chrome Mobile,0
7,8f0066f3-00b6-4ad3-98d3-745a80b900fe,exposed,2020-07-07,4,Generic Smartphone,6,Chrome Mobile,0
8,9b7a2497-f2f3-4cfd-bf1b-bf533fa39f4f,exposed,2020-07-10,2,Generic Smartphone,6,Chrome Mobile,0
9,dcdbd941-3a00-43a3-9bfb-de2774ee2f41,exposed,2020-07-07,7,Generic Smartphone,6,Chrome Mobile,1

In [342]:
merged_exposed.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
0,c03a506f-92e4-41e1-8859-841d21f18349,exposed,2020-07-04,6,Samsung SM-G965F,6,Chrome Mobile WebView,1
1,1e43fc5f-dd65-4311-9c32-6e1552cd70b9,exposed,2020-07-07,23,Generic Smartphone,6,Chrome Mobile,1
2,dd5b63f1-b5a3-4b6b-a894-8510452b62d5,exposed,2020-07-07,13,Samsung SM-A600FN,6,Facebook,1
3,7cebd2b7-7978-428a-b0a8-9d38766bd299,exposed,2020-07-07,22,Generic Smartphone,6,Chrome Mobile,1
4,3aa89a92-a9c2-463b-86a0-8c9f6760e735,exposed,2020-07-04,19,Generic Smartphone,6,Chrome Mobile,1

In [343]:
merged_control.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
0,8c558656-7cd3-4c13-bdf9-6af3b068422e,control,2020-07-05,7,Generic Smartphone,6,Chrome Mobile,1
1,9508cc84-ef3c-4091-a313-ef32c95d8af7,control,2020-07-09,4,Generic Smartphone,6,Chrome Mobile,1
2,97551eb7-3e6e-42ba-b6b4-c57e779c3078,control,2020-07-04,12,iPhone,5,Mobile Safari,0
3,d63e684b-ec8b-43f9-9b77-9f58356293cb,control,2020-07-05,16,Generic Smartphone,6,Chrome Mobile,1
4,7e10fa95-9b61-43fb-9bfc-99e5b83a54e5,control,2020-07-03,15,Samsung SM-J600FN,6,Samsung Internet,0

### Label Encoding

In [344]:
from sklearn import preprocessing
def label_encoder(df):
    date_encoder = preprocessing.LabelEncoder()
    device_encoder = preprocessing.LabelEncoder()
    expt_encoder = preprocessing.LabelEncoder()
    browse_encoder = preprocessing.LabelEncoder()
    df["date"] = date_encoder.fit_transform(df["date"])
    df["experiment"] = expt_encoder.fit_transform(df["experiment"])
    df["device_make"] = device_encoder.fit_transform(df["device_make"])
    df["browser"] = browse_encoder.fit_transform(df["browser"])
    return df

In [345]:
merged_encoded = label_encoder(merged_df)

In [351]:
merged_encoded.tail(10)

,auction_id,experiment,date,hour,device_make,platform_os,browser,reaction
1233,aaec3a7c-6ff3-45df-9fbf-f4f2ae3852e9,1,5,15,13,6,1,1
1234,08d3e8fe-cf14-4a1d-8097-9965d4596104,1,6,19,103,6,4,0
1235,14ad2c1c-3e57-4589-9376-d5e33a442152,1,0,0,13,6,1,0
1236,b036a6e1-5139-4d36-9776-ee154091cf08,0,0,15,7,6,2,0
1237,621a3141-36fa-48cb-95ff-e400507588fd,1,1,16,13,6,1,0
1238,d75950d4-6cda-45f6-a5d9-6d6449c96059,0,6,4,13,6,1,0
1239,d5ff5e67-bbe1-43cf-9e12-1b18b27fd009,1,6,20,13,6,1,1
1240,4e9423d8-1db2-45b8-8cd4-ae52bdd80f1a,0,7,4,13,6,1,1
1241,4796d66c-1849-4a31-bb38-75b0d41d566c,1,3,9,13,6,1,0
1242,111baf18-7653-4ba9-9de1-7e1702605c04,0,7,12,13,6,1,0

### Split data by browser and platform_os

In [352]:
def split_data(df):
    browser_cols = ["auction_id","experiment","date","hour","device_make","browser","reaction"]
    platform_cols = ["auction_id","experiment", "date","hour","device_make","platform_os","reaction"]
    df_browser = df[browser_cols]
    df_platform = df[platform_cols]
    return df_browser, df_platform

In [354]:
browser_df, platform_df = split_data(merged_encoded)

In [355]:
browser_df.head()

,auction_id,experiment,date,hour,device_make,browser,reaction
0,ed32baab-4fd2-4c01-8210-9b00895fb0c8,0,0,15,69,2,1
1,0332a7f7-0336-4d48-96ad-75da00d916c0,0,1,16,13,1,1
2,b84ee86d-aee1-4f0f-84f7-4820eba84c29,1,4,1,97,2,1
3,0336ce2b-c5cb-454a-b74f-450232223742,0,0,15,42,7,0
4,d6e59a7b-fa44-4b68-aff1-8f3397d3ff1b,1,1,10,13,1,0

In [356]:
platform_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,reaction
0,ed32baab-4fd2-4c01-8210-9b00895fb0c8,0,0,15,69,6,1
1,0332a7f7-0336-4d48-96ad-75da00d916c0,0,1,16,13,6,1
2,b84ee86d-aee1-4f0f-84f7-4820eba84c29,1,4,1,97,6,1
3,0336ce2b-c5cb-454a-b74f-450232223742,0,0,15,42,6,0
4,d6e59a7b-fa44-4b68-aff1-8f3397d3ff1b,1,1,10,13,6,0